:root {
    --main-red-color: #ED2024;
    --main-green-color: #5C9F38;
    --border-color: #E9E9E9;
}

@media (min-width: 1440px) {
    .md-hide {
        display: none;
    }
    .navbar-wrp-sm {
        display: none;
    }
}

@media (max-width: 1440px) {
    .md-hide {
        display: none;
    }
    .navbar-wrp-sm {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .sm-hide {
        display: none;
    }
    .md-hide {
        display: flex;
    }
    .secondary-navbar {
        display: none;
    }
    .discount-navigation .container,
    .second-carousel .container,
    .main-carousel .container,
    .instagram-section .container {
        padding: 0;
    }
    .discount-title {
        font-size: 30px;
        line-height: 50px;
    }
    .discount-desc {
        line-height: 14px;
        margin-bottom: 20px;
        line-height: 21px;
    }
    .discount-content {
        max-width: 170px;
        margin-left: 15px;
        padding: 26px 0;
    }
    .btn-green {
        padding: 9px 31px;
        color: var(--main-green-color);
    }
    .img-discount-sm {
        height: 250px;
        object-fit: cover;
        width: 100%;
    }
    .carousel-title {
        font-size: 24px;
        line-height: 29px;
        max-width: 320px;
    }
    .main-carousel .es-carousel-item {
        height: 330px;
    }
    .es-carousel-item img {
        height: 330px;
        object-fit: cover;
    }
    .carousel-indicators li {
        width: 13px;
        height: 13px;
    }
    .section-wrp {
        margin-bottom: 50px;
    }
    .section-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .es-product-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
    .es-product-img {
        margin-bottom: 10px;
    }
    .es-product-title {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px;
        height: 38px;
    }
    .es-prices {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        height: 36px;
        justify-content: flex-start;
    }
    .discount-price {
        margin-bottom: 4px;
    }
    .discount-price,
    .real-price {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .btn-cart {
        padding: 7px 20px;
    }
    .btn-like {
        padding: 2px 5px;
        position: absolute;
        bottom: 88%;
        right: 20px;
        background-color: #FFFFFF;
    }
    .second-carousel-title {
        font-size: 24px;
        line-height: 29px;
        width: 320px;
        margin-bottom: 10px;
    }
    .second-carousel-desc {
        width: 320px;
    }
    .second-carousel-content .btn-green,
    .category-section-bg,
    .tab-content-product-inner-wrp .es-products-list {
        margin-bottom: 40px;
    }
    .second-carousel .es-carousel-item {
        height: 360px;
    }
    .second-carousel .es-carousel-item img {
        height: 360px;
        object-fit: cover;
    }
    .instagram-sec-container {
        display: flex;
        flex-direction: column;
    }
    .instagram-sec-inner-con {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sub-section-title span {
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
    }
    .sub-section-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }
    .btn-red {
        padding: 9px 46px;
    }
    .instagram-sec-content {
        padding: 45px 0;
    }
    .footer-logo {
        height: 64px;
        width: 80px;
        object-fit: cover;
    }
    .footer-logo-wrp {
        justify-content: start;
        margin-bottom: 20px;
    }
    .about-company {
        text-align: start;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .footer-socials-wrp {
        justify-content: start;
        margin-bottom: 25px;
    }
    .footer-left-wrp,
    .footer-right-wrp {
        text-align: left;
        border-top: 1px solid var(--border-color);
        padding-top: 25px;
        padding-left: 0;
    }
    .footer-nav,
    .es-slider-for {
        margin-bottom: 20px;
    }
    .footer-right-wrp {
        padding-bottom: 40px;
    }
    .main-footer {
        padding-top: 40px;
    }
    .es-footer-bottom-content {
        display: flex;
        flex-direction: column;
    }
    .es-footer-bottom {
        padding: 20px 0;
    }
    .es-footer-copyright {
        margin-bottom: 10px;
    }
    .navbar-wrp-sm {
        display: flex;
    }
    .navbar-wrp-sm .nav-item {
        margin-left: 15px;
    }
    .navbar-wrp-sm .navbar-nav {
        display: flex;
        align-items: center;
    }
    .navbar-expand-lg {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .es-breadcrumb {
        margin: 40px 0;
    }
    .slider-nav .draggable,
    .pv-id,
    .product-section table,
    .pv-btn  {
        margin-bottom: 35px;
    }
    .pv-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .pv-desc {
        margin-bottom: 15px;
    }
    .pv-table-title {
        font-size: 20px;
        line-height: 23px;
    }
    .es-table-ingredients tr {
        flex-direction: column;
    }
    .es-table-ingredients td {
        width: 100%;
    }
    .pv-price {
        font-size: 20px;
        line-height: 23px;
    }
    .pv-cart-wrp {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }
    .pv-btn {
        height: 50px;
        margin-right: 0px;
    }
    .pv-attention {
        padding: 20px;
    }
    .section-title-sm {
        text-align: left;
    }
    .product-slick .slick-arrow {
        top: -55px;
        border: none;
        padding: 0;
    }
    .product-slick .slick-arrow:hover{
        background-color: transparent;
    }
    .product-slick .slick-next {
        right: 20px;
    }
    .es-product-wrapper {
        padding: 0 10px;
    }
    .es-category-list {
        padding: 0 5px;
    }
    .product-slick .slick-prev {
        right: 50px;
    }
    .category-section-bg img {
        height: 200px;
    }
    .es-category-title {
        font-size: 24px;
        line-height: 29px;
    }
    .nav-pills {
        display: flex;
        margin-bottom: 40px;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .nav-pills .nav-link {
        padding: 10px 18px !important;
        border-radius: 50px;
        width: max-content;
        height: 40px;
        margin-right: 10px;
    }
    .tab-pane .section-title {
        padding: 14px;
        margin-bottom: 30px;
        font-size: 18px;
    }
    .es-tab-header .container {
        padding-right: 0;
    }
    .tab-content-product-wrp {
        flex-direction: column;
    }
    .tab-content-product img {
        width: 100%;
    }
    .tab-content-product {
        margin-bottom: 30px;
    }
    .tab-content-product-inner-wrp .page-link {
        height: 36px;
        width: 36px;
    }
    .favourite-empty-wrp img,
    .es-empty-desc {
    margin-bottom: 35px;
    }
    .es-empty-title {
        font-size: 24px;
        line-height: 40px;
    }
    .es-border-t {
        border-top: 1px solid var(--border-color);
    }
    .es-ch-block {
        flex-direction: column;
        align-items: start;
    }
    .es-cart-item {
        padding: 30px 0;
        position: relative;
    }
    .es-ch-product {
        width: 100%;
        flex-direction: column;
    }
    .es-ch-img {
        margin-right: 0;
        margin-bottom: 1.25rem;
    }
    .es-ch-detail, .es-cf-right {
        width: 100%;
    }
    .es-ch-detail, .es-ch-price, .es-ch-quantity, .es-cart-total {
        margin-bottom: 20px;
    }
    .es-ch-quantity .es-product-controls {
        width: 116px;
        height: 36px;
    }
    .es-cart-footer {
        flex-direction: column;
        padding-top: 35px;
    }
    .es-cf-right .btn {
        margin-bottom: 35px;
    }
    .es-ch-price, .es-ch-total {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .es-ch-price:before {
        content: "Цена";
    }
    .es-ch-quantity {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
    }
    .es-ch-quantity:before {
        content: "Количество";
    }
    .es-ch-total:before {
        content: "Итого";
    }
    .es-ch-action .btn-icon {
        position: absolute;
        right: 5px;
        top: 30px;
        padding: 0;
    }
}